* {
  box-sizing: border-box;
}
.buttonContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  max-height: 40px;
  border: 2px solid rgb(211, 204, 204);
  padding: 8px 0 10px;
  gap: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.buttonContainer > div:nth-child(2) {
  background-color: rgb(23, 119, 240);
}
.buttonContainer > div:nth-child(2) a {
  color: white;
}
.buttonContainer > div:nth-child(1) a {
  color: black;
}
.button img {
  width: 20px;
}

.registerForm {
  display: flex;
  height: 600px;
  flex-wrap: wrap;
  width: 800px;
  flex-direction: column;
  border: 2px solid tomato;
  gap: 0;
  border-radius: 20px;
  margin: 0 auto;
  background-color: white;
}

.registerForm > img {
  height: 600px;
  width: 50%;
  overflow: hidden;
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
}
.close > div {
  position: absolute;
}
.close {
  position: relative;
  top: 10px;
  right: -360px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  gap: 10px;
  width: 50%;
  height: 50%;
}

.header h1 {
  margin-bottom: 0;
}
.header p:last-child {
  margin-top: 0;
  color: grey;
}

.header p:first-of-type {
  margin-bottom: 0;
  font-style: italic;
  margin-top: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.buttonContainer a {
  text-decoration: none;
}
form > p {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}
.inputContainer > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 5px;
}
.inputContainer input {
  padding: 7px 0;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1.2rem;
}

form > button {
  padding: 5px 0;
  background-color: rgb(206, 116, 100);
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
