.container {
  display: flex;
  justify-content: center;
}

.container td,
.container th {
  border: 2px solid #ddd;
  padding: 8px;
}

.container table {
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
