.studentList {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;

  justify-content: center;
}
.studentListContainer > h1 {
  text-align: center;
  color: blue;
}

.studentListContainer button {
  margin: 0 5px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  background-color: greenyellow;
  font-weight: 900;
}
.sortButtons {
  display: flex;
  justify-content: center;
}
