.container {
  margin-left: 30px;
  margin-top: 50px;
}

.container button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 1rem;
  background-color: red;
  color: white;
  font-weight: bold;
}
.container button:last-child {
  background-color: blue;
}

.buttons {
  display: flex;
  justify-content: center;
}
.container h1 {
  text-align: center;
  color: red;
}
.container h1:last-child {
  color: blue;
}
.container h5 {
  text-align: center;
  color: blue;
}
